<div class="row">
  <div class="column">
    <img src="../../assets/picture/people/DSC_5593.jpg">
    <img src="../../assets/picture/people/DSC_3454.jpg">
    <img src="../../assets/picture/people/DSC_3763.jpg">
    <img src="../../assets/picture/people/DSC_3939.jpg">
    <img src="../../assets/picture/people/DSC_4971.jpg">
    <img src="../../assets/picture/people/DSC_4971.jpg">
    <img src="../../assets/picture/people/DSC_5592.jpg">
    <img src="../../assets/picture/people/DSC_5834.jpg">
  </div>
</div>
