
<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>2018</h2>
      <p>
        Ebben az évben már egy újabb tárgylencse és egy vakú lett bírtokomba. Az tárgylencse egy újabb minőség béli ugrás
        volt Nikkor AF-S 18-70mm F/3.5-4.5G ezzel végre letehettem az alap kit, tárgylencsét teljesen. Az év nagy változása
        pedig igazán az volt, hogy beiratkoztam egy Fotógráfus és fotótermék kereskedő tanfolyamra. Ez rengeteg pozitív
        változást hozott a fényképeimbe, hiszen segítséget kaptam vágás terén, és exponálásban is sok segítséget kaptam
        már ez a pár hónap alatt.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2017</h2>
      <p>
        Egy nagy beruházás vette kezdetét ekkor 2 soft box és egy mobil háttért sikerült beszerezni, valamint egy
        irányítható fényforrást. Ennek köszönhetően már tudtam egy két beállított képet is csinálni, persze
        egyálltalán nem mondható igazán minőségi képnek, viszont még is egészen sok mindent lehetett kihozni
        ebből e lehetőségből is. Valamint lettek nyomtatott vásznak is rendelve. Sajnos ezek az árukra tekintve nagyon
        gyenge minőséget kaptunk, mivel ezt még mind ösztöndíjakból lett beszerezve, így ez a keret volt engedett. Van
        már több karácsonyi és pár húsvéti és szülinapos háttér is a repertoárban. A hátrány annyiban jelentkezik, hogy
        a hajtások nagy nyomott hagytak és csak rengeteg utómunka árán tudom eltüntetni, ami viszont így segített fejlődni
        retusálás szinten. Valamint egy újabb tárgylencsével is bővült a repertoár mely egy biztos tárgylencse
        Nikon AF-S 50mm f/1.8G. Ez már minőség béli javulásokat is hozott a munkámba. Ezzel a tárgylencsével végre
        sikerült elérnem a mélység élesség igazán látványos jelenségét.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2016</h2>
      <p>
        A kővetkező nagyobb momentum a pályafutásomban mikor sikerült egy teleobjektívet beszereznem.
        Nikon NIKKOR AF 70-300 f/4-5.6G tárgylencséről beszélünk, így már megnyílt egy újabb terület. A szerelem itt
        kezdődött, hiszen ezzel más gyönyörű képeket tudtam csinálni sport rendezvényeken közel tudtam hozni az
        alanyokat és remek képeket készíteni. Bár ez egy kézi tárgylencse így ez sokszor komoly feladat a gyújtópont
        pontos beállítása, de ennek ellenére nagyon jó és szép képeket tudtam csinálni. Ebben az évben egy újabb
        különleges kiegészítőt sikerült beszereznem, mely egy MEIKE MK950II-N i-TTL vaku volt ez igazából külön fejezet
        is lehetne, hiszen egy külső vakú nagyon sokat tud adni a vakus képekhez. Lehet irányítani, lehet villanási időt
        és erősséget is állítani, ami lássuk be egy beépített vakunál lehetetlen. Nagyon sokat kellet ezzel is
        foglalkozni, hogy ne égjen ki egy kép ne legyen alul exponált és jó irányba villanjon.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2014</h2>
      <p>
        A nagy álmom végre teljesült sikerült megvenni egy DRSL gépet. Akkor a piaci ár legalacsonyabb gépének mondható
        Nikon D3200-at vettem meg ennek akkor már nagyon örültem, hiszen volt egy gépem, amit használhattam tanulhattam
        a technikát próbálgattam a beállításokat. Eleinte csak is a programozott módokat használtam. Majd egyszer-egyszer
        átváltottam a kézi módba ahol saját magamnak állítgattam itt volt, hogy egy tárgyról akár több száz kép is
        elkészült mire sikerült egy jó összetételes képet elkészíteni.
      </p>
    </div>
  </div>
</div>
