* {
  box-sizing: border-box;
}
.text-box {
  box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.5);
  padding: 0.67vw 2.67vw;
  border-radius: 0.07vw;
  margin: 5% 10%;
  width: 80%;
}
h2, h1{
  text-align: center;
}

