<div class="container">
  <img src="../../assets/picture/children/DSC_6262.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>Halloween Party</h1>
    <p>Saját készítésű háttér és beállítás az eszközökkel..</p>
  </div>
</div>

<div class="text-box">
  <h2>Halloween</h2>
  <p>
    A napokban egy halloween témát boncolva készítettem kisgyerekekről képet. Nehézséget az okozott, hogy saját hátteret
    alkottam, ahogy azt már írtam. Nem megszokott háttér, alap sablont nem állt rendelkezésemre így sajátot találtam ki.
    Használtam minden halloweenhez tartozó motívumot, így megjelent a tök lámpás, a pókháló pókkal, a csontváz és persze
    a boszorkány kalap is. Saját gondolatból az ősz barna szín jellemzőjeként és a gyerekek figyelmének lekötéseként
    bekerült két plüss játék is egy oroszlán és egy gomba. Ami nagy és feltűnő tárgy az pedig szintén a barna színe miatt
    bekerült bőrönd volt. Ennek igazából csak tér kitöltés és a tök tárolás volt célja.
  </p>
</div>

<div class="container">
  <img src="../../assets/picture/children/DSC_6190.jpg" alt="Kisfiú halloween hátérrel" style="width: 100%;">
  <div class="content">
    <p>Teknikai megvalósítás..</p>
  </div>
</div>

<div class="text-box">
  <h2>Teknikai jellemzők</h2>
  <p>
    Technikailag azért volt nehéz, hiszen kis gyerekekről van szó így őket nem lehet vakuval fotózni, hiszen biztosan
    bele pislognak, vagy ha még sem akkor viszont ott a másik dolog az egyik kisfiúnak szemüvege is volt. Valamint
    elméletileg nem is tesz jót a gyerekeknek, ha vakut használunk. Két állandó fényű soft-box állt rendelkezésemre az
    egyik egy 600W-os és egy 200w-ost tudtam használni náluk. Az egyik inkább a háttérre volt irányítva, míg a másik a
    kis alanyokat világította. A gépet kézi módban használtam ISO 100 értéken f4.5 a zár sebességgel viszont játszva
    attól függőn milyen alanyt kaptam. Az utómunka kicsit több idő volt, sajnos volt negatív hatása is képeimre nézve
    ezeknek a beállításoknak és a retusnak, hiszen sok szemcsés lett és nem teljesen éles.
  </p>
</div>


<div class="container">
  <img src="../../assets/picture/children/DSC_6333.jpg" alt="Testvér pár" style="width:100%;">
  <div class="content">
    <p>Eszköz tár...</p>
  </div>
</div>

<div class="text-box">
  <h2>Eszköz készlet</h2>
  <p>
    NikonD3200<br>
    AF-S Nikkor 18-70mm 1:3.5-4.5G ED<br>
    hama PL circular M67 (IV) szűrő<br>
    Samsung 8Gb class 10 memória kártya
  </p>
</div>

<div class="container">
  <img src="../../assets/picture/children/DSC_6316.jpg" alt="család" style="width:100%;">
  <div class="content">
    <p>Tanulság...</p>
  </div>
</div>

<div class="text-box">
  <h2>Tanulság a következő fotózáshoz</h2>
  <p>
    A következő fotózáson a sokkal jobban oda kell figyelnem, hogy több fény, álljon rendelkezésemre. Ennek köszönhetően
    zárhatok a rekeszen is, ami azért is fontos, hiszen akkor kisebb lesz a mélység élesség. Könnyebb lesz a gyújtópontot
    is beállítani és élesebb lesz a képem, valamint gyorsabb záridőt is használhatok a kisgyerekeknél így még biztosabb
    lesz a kép sikeressége. Ami fontos lesz még a következő képekre nézve, hogy nagyon figyelnem kell a vágásoknál is,
    hiszen utólag lett észrevéve és elég zavaró is lett, hogy egy két képen a gyerekek lába eltűnik. Sajnos a Háttér sem
    volt az igazi ebben is kell fejlődnőm még. mivel kicsikről van, szó ebben a témában nagyon kell figyelnem, hogy ne,
    legyen magas a hátterem, sem hiszen a képeken itt is veszteség érte a képeket így nem minden képen van jelen a teljes
    dekoráció néhol egy félbevágott csontvázzal is találkozunk.
  </p>
  <p>
    A gyerekeknek egyébként nagyon tetszett a díszlet minden gyerek meg találta a saját lekötését és így könnyű volt
    dolgozni is velük, nem volt unalmas és ennek köszönhetően nem mászkáltak el.
  </p>
</div>
