
/* Style the links inside the sidenav */
.icon{
  height: 1.3vw;
  position: absolute;
  left: 8.2vw;
}
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -6.67vw; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 1vw; /* 15px padding */
  width: 8vw; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 1.34vw; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 0.33vw 0.33vw 0; /* Rounded corners on the top right and bottom right side */
  text-align: left;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
  position: absolute;
}

/* The about link: 20px from the top with a green background */
#home {
  top: 1.34vw;
  background-color: #1fa1ff;
}

#blog {
  top: 5.34vw;
  background-color: #4fa4ff; /* Blue */
}

#projects {
  top: 5.34vw;
  background-color: #6fa6ff; /* Red */
}

#gallery {
  top: 9.34vw;
  background-color: #8fa8ff /* Light Black */
}

#about {
  top: 13.34vw;
  background-color: #afaaff; /* Blue */
}

#contact {
  top: 17.34vw;
  background-color: #cfacff; /* Blue */
}
/*320*/
