<nav>
  <div id="mySidenav" class="sidenav">
    <a routerLink="/" id="home">{{home}}<span  class="icon"><fa-icon [icon]="faHome"></fa-icon></span></a>
    <!--<a routerLink="/blog" id="blog">{{blog}}<span  class="icon><fa-icon [icon]="faHome"></fa-icon></a>-->
    <a routerLink="/new-project" id="projects">{{new_project}}<span  class="icon"><fa-icon [icon]="faUserEdit"></fa-icon></span></a>
    <a routerLink="/gallery" id="gallery">{{gallery}}<span  class="icon"><fa-icon [icon]="faImages"></fa-icon></span></a>
    <a routerLink="/about" id="about">{{about}}<span  class="icon"><fa-icon [icon]="faAddressCard"></fa-icon></span></a>
    <a routerLink="/contact" id="contact">{{contact}}<span  class="icon"><fa-icon [icon]="faInfo"></fa-icon></span></a>
  </div>
</nav>
