<div>
<app-slideshow-home></app-slideshow-home>
<app-home-contact></app-home-contact>
</div>
<div class="text-box" id="first">
  <h2>Üdvözöllek a honlapon!</h2>
  <q>
    A fotográfia képes azon pillanat érzését felerősíteni, amit akkor éltem meg, amikor exponáltam. A fényképnek nincs is más választása. A fotográfia nem lát a jövőbe. Meg persze a múltba sem. Egy kép mindössze az a pont, ahol a jövő összeér a múlttal. Ha úgy tetszik: a folyamatos jelen.
  </q>
</div>
<div class="text-box" id="second">
  <h2>Új projekt</h2>
  <p>
    A napokban egy halloween témát boncolva fogok kisgyerekekről képet csinálni. Nehézséget az okoz, hogy saját hátteret
    alkotok. Nem megszokott háttér, alap sablont nem használok, viszont minden mást, amit el lehet képzelni halloween
    témában megjelenik majd. Lesz csontváz, halloween tök, pókháló, rémísztő dolgok tárháza.
    <br>
    Ha kíváncsi vagy Kattints az "új projekt" menüre.
  </p>
</div>
